.alarm_contents {
  max-height: 60vh;
  overflow: scroll;
}

.day {
  font-family: Pretendard;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
}
