.user_profile_img {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-right: 4px;
}

.user_info {
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 600;
  /* line-height: 30px; */
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 4px;
}

.user_comment {
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 500;
  /* line-height: 30px; */
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 4px;
}

.reply_comment_btn {
  font-family: Pretendard;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0em;
  text-align: left;
  color: gray;
}
