.smallboxing {
  display: flex;
  margin-top: 30px;
}
.editprofilebtn {
  grid-row: 1;
  width: 8%;
  height: 30px;
  border-radius: 18px;
  font-size: medium;
  position: absolute;
  right: 5%;
  margin-top: 20px;
  margin-right: 20px;
  text-align: center;
  z-index: 999;
  background-color: black;
  color: white;
}
.editprofilebtn:hover {
  background-color: lightgray;
}
