.headchoice{
    border-bottom: 2px solid #000000;
    width: 1280px;
    height: 45px;
    display: flex;
}
.profile{
    border-radius: 16px 16px 0px 0px;
    width: 121px;
    height: 45px;
    font-size: 20px;
    font-weight: 600;
    /*font-style: ;*/
    display: inline-block;
    background-color: #000000; /*프로필 UI일 경우*/
    color: white;
    text-align: center;

}
.album{
    border-radius: 16px 16px 0px 0px;
    width: 121px;
    height: 45px; 
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    /*font-style: ;*/
    display: inline-block;
    color: lightgray;
    /*background-color: #000000; 
    color: white; 앨범 UI로 넘어갈 때*/
}
.mainbox{
    border-top: 2px solid gray;
    width: 1280px;
    height: 1800px;
    position: absolute;
}
.user{
    width: 890px;
    height: 380px;
    display: flex;
    margin-left: 200px;
    margin-top: 50px;
}
.editprofile{
    width: 148px;
    height: 36px;
    border-radius: 18px;
    border: 1px solid black;
    margin-top: -30px;
    font-size: smaller;
    float: right;
}
.userinfo1{
    width: 300px;
    display: inline-block;
    margin-top: 10px;
    align-items: center;
}
.myTitle{
    border-radius: 18px;
    width: 120px;
    height: 36px;
    background-color: #FF8B00;
    color: white;
    text-align: center;
    margin-left: 55px;
}
.myImg{
    border: 1px solid black;
    width: 194px;
    height: 194px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    border-radius: 100px;
    justify-content: center;
}
.numbering{
    display: flex;
    justify-content: center;
}
.box{
    display: inline-block;
    border: 1px solid black;
    margin: 5px;
    
}
.num{
    text-align: center;
    font-size: medium;
    font-weight: 500;
}
.value{
    text-align: center;
    font-size: small;
    font-weight: 500;
    color: gray;
}
.userinfo2{
    width: 594px;
    display: inline-block;
    margin: 20px;
    margin-top: 80px;
}
.myName{
    font-weight:700;
    font-size: x-large;
}
.infotext{
    border: 1px solid black;
    width: 450px;
    height: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.tagging{
    width:500px;
}
.tag{
    border-radius: 20px;
    border: 1px solid black;

}
.userinfo1wrap{
    margin: 30px;
}
.userinfo2wrap{
    margin:30px;
}
.smallboxing{
    display: flex;
    margin-top: 30px;
}
.level{
    width: 640px;
    height: 1300px;
    border-top: 2px solid #ededed;
    border-right: 2px solid #ededed;
    display: inline-block;
}
.levelcheck{
    width: 640px;
    height: 159px;
    border-bottom: 2px solid #ededed;
}

.titlecheck{
    width: 640px;
    height: 136px;
    border-bottom: 2px solid #ededed;
}
.achievecheck{
    width: 640px;
    height: 495px;
    
}
.levelhead{
    font-size:xx-large;
    font-weight: 600;
    
}
.levelup{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}
.myLevel{
    display: inline-block;
    font-weight: 700;
    font-size: x-large;
}
.levelpercent{
    height: 30px;
    margin-left: 30px;
    border-radius: 15px;
    background-color: lightgrey;
    color: white;
    display: inline-block;
}
.levelcheckwrap{
    margin: 30px;
}
.titlecheckwrap{
    margin: 30px;
}
.titlehead{
    font-size:xx-large;
    font-weight: 600; 
}
.title{
    margin-top: 20px;
    display: flex;
}
.myTitle2{
    border-radius: 18px;
    width: 180px;
    height: 40px;
    background-color: #FF8B00;
    font-size: x-large;
    color: white;
    text-align: center;
    display: inline-block;
}
.editTitle{
    display: inline-block;
    margin-left: 30px;
}
.achievecheckwrap{
    margin: 30px;
}
.achievehead{
    font-size:xx-large;
    font-weight: 600;
}
.achieve{
    margin-top: 20px;
    border-top: 1px solid black;
    width: 555px;
}
.achievecontents{
    width: 555px;
    height: 58px;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nonachievecontents{
    width: 555px;
    height: 58px;
    border-bottom: 2px solid #ededed;
    display: flex;
    color: lightgrey;
    align-items: center;
    justify-content: space-between;
    align-items: center;
}
.achievement{
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}
.point{
    width: 640px;
    height: 1300px;
    border-top: 2px solid #ededed;
    display: inline-block;
}
.pointcheckwrap{
    margin: 30px;
}
.pointcheck{
    width: 640px;
    height: 140px;
}
.pointhead{
    font-size:xx-large;
    font-weight: 600;
}
.myPoint{
    font-size:large;
    font-weight: 600;
    margin: 10px;
}
.chargingBox{
    width: 561px;
    height: 600px;
    
}
.option{
    display: flex;
}
.exchange, .charge{
    margin-right: 30px;
    color: gray;
    display: inline-block;
    font-weight: 500;
}
.tradelog{
    color: #000000;
    display: inline-block;
    font-weight: 500;
    border-bottom: 2px solid black;
}
.tradeLogcheck{
    margin-top: 20px;
}
table{
    border-collapse: collapse;
    border-top: 2px solid gray;
    align-items: center;
    border-left: none;
    border-right: none;
}
th{
    border-bottom: 2px solid gray;
}
td{
    border-bottom: 2px solid #ededed;
    text-align: center;
}
td,th{
    width: 555px;
    height: 58px;
    border-left: none;
    border-right: none;
}
.pagenum{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.pagenum div{
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 30px;
    border: 1px solid black;
    border-radius: 50px;
    text-align: center;
}
.bigboxing{
    width: 1280px;
    height: 1800px;
    position: relative;
    margin-top: 130px;
    margin-left: 200px;
}