.bigbox{
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-top: 30px;
}
.middlebox{
    width: 30%;
    height: 80%;

    margin-top: 20px;
}
.headtext{
    font-size: large;
    font-weight: 600;
    
}
.content{
    border: 1px solid #d9d9d9;
    width: 100%;
    height: 80%;
    margin-top: 20px;
    border-radius: 30px;
}
.smallbox1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    height: 40px;
    margin-left: 10px;
    margin-top: 20px;
}
.snslogo{
    border: 1px solid black;
    border-radius: 50px;
    width: 15%;
    height: 100%;
    margin-left: 10px;
}
.snsname{
    font-size: large;
    font-weight: 600;
    padding-top: 10px;
    margin-left: -20px;
}
.connectbtn{
    color:#000;
    background-color: lightgray;
    border-radius: 10px;
    width: 30%;
}
.smallbox2{
    margin-top: 140px;
    width: 100%;
    height: 70px;
    text-align: center;
    font-weight: 600;
    font-size: large;
}
.pwbox{
    width: 60%;
    background-color: lightgray;
    height: 30px;
    margin-top: 10px;
    border-radius: 10px;
}
.changepw{
    display: flex;
    justify-content: center;
}
.changepwbtn{
    background-color: lightgray;
    width: 30%;
    height: 30px;
    border-radius: 10px;
    margin-top: 80px;
}
.smallbox3{
    display: flex;
    height: 30px;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin-left: 30px;
    margin-top: 50px;
}
.plantext{
    width: 50%;
    height: 100%;
    font-weight: 600;
    font-size: large;
}
.myplan{
    width: 50%;
    height: 100%;
    color: gray;
    font-size: large;
}
.smallbox4{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}
.smalltext{
    font-size: smaller;
    margin-bottom: 20px;
    font-weight: 600;
}
.changeplan{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 30px;
    margin-top: 70px;
}
.changeplanbtn{
    background-color: lightgray;
    border-radius: 10px;
    width: 50%;
    height: 100%;
}