.bigbox{
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-top: 30px;
}
.middlebox1{
    width: 68%;
    height: 80%;
    margin-top: 20px;
}
.middlebox2{
    width: 30%;
    height: 80%;
    margin-top: 20px;
}
.headtext{
    font-size: large;
    font-weight: 600;
    
}
.content1{
    border: 1px solid #d9d9d9;
    width: 100%;
    height: 80%;
    margin-top: 20px;
    border-radius: 30px;
    display: flex;
    align-items: center;
}
.boxwrap{
    height: 70%;
    width: 100%;
    display: flex;
    align-items: center;
}
.boxwrap img,p{
    display: inline-block;
}
.smallbox1{
    display: inline-block;
    justify-content: space-between;
    width: 30%;
    height: 50%;
    margin-left: 10px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}
.snslogo{
    border: 1px solid black;
    border-radius: 50px;
    width: 30%;
    height: 45%;
    margin-left: 10px;
    margin-left: 20px;
}
.snsname{
    font-size: large;
    font-weight: 600;
    padding-top: 10px;
    margin-left: 40px;
}
.connectbtn{
    color:#000;
    background-color: lightgray;
    border-radius: 10px;
    width: 40%;
    height: 30px;
    justify-content: center;
}
.btnwrap{
    text-align: center;
    width: 100%;
    height: 30%;
}
.content2{
    border: 1px solid #d9d9d9;
    width: 100%;
    height: 80%;
    margin-top: 40px;
    border-radius: 30px;
}
.smallbox2{
    margin-top: 140px;
    width: 100%;
    height: 70px;
    text-align: center;
    font-weight: 600;
    font-size: large;

}
.pwtext{
    font-size: large;
    font-weight: 600;
}
.pwbox{
    width: 60%;
    background-color: lightgray;
    height:35px;
    margin-top: 15px;
    border-radius: 10px;
    margin-left: 60px;
    padding-top: 7px;
}
.inputdiv{
    width: 70%;
    height:35px;
    margin-top: 15px;
    display: flex;
    margin-left: 50px;
    border-radius: 10px;
    background-color: lightgray;
}
.inputbox{
    width: 90%;
    height: 100%;
    display: inline-block;
    padding-left: 10px;
    background-color: lightgray;
    border-radius: 10px;
}
.eyeIcon{
    margin-top: 8px;
}
.changepw{
    display: flex;
    justify-content: center;

}
.changepwbtn{
    background-color: lightgray;
    width: 30%;
    height: 30px;
    border-radius: 10px;
    margin-top: 30px;
}
.boxing0{
    text-align: center;
    margin-top: 90px;
}
.boxing2{
    margin-top: 30px;
    margin-bottom: 10px;
}