.header{
    width: 100%;
    height: 80px;
    font-size: x-large;
    font-weight: 600;
}

.contents{
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: row;
    border: 2px solid lightgray;
}
.editimg{
    width: 20%;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 80px;
    
}
.image{
    width: 75%;
    height: 150px;
    border-radius: 100px;
    margin-bottom: 20px;

}
.editbtn{
    width: 50%;
    height: 30px;
    border: 1px solid black;
    border-radius: 14px;
    padding: 5px;

}
.editinfo{
    width: 40%;
    height: 350px;
   
    border-right: 2px solid lightgray;
    border-left: 2px solid lightgray;
    
}
.editinfowrap{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.nicknamewrap{
    width: 100%;
    margin-left: 40px;
    margin-top: 20px;
}
.nicknamehead{
    font-weight: 600;
    font-size: large;
}
.nickname{
    border: 1px solid lightgray;
    width: 80%;
    height: 35px;
    margin-top: 10px;
    border-radius: 5px;
    padding-left: 10px;
}
.infotextwrap{
    width: 100%;
    margin-left: 40px;
    margin-top: 20px;
}
.infohead{
    font-weight: 600;
    font-size: large;
}
.infotext{
    border: 1px solid lightgray;
    width: 80%;
    height: 140px;
    margin-top: 10px;
    border-radius: 5px;
    padding-left: 10px;
}
.bookmark{
    width: 40%;
}
.thirdbox{
    
    width: 40%;
}
.bookmarkwrap{
    width: 80%;
    margin-top: 40px;
    margin-left: 40px;
}
.bookmarkhead{
    font-weight: 600;
    font-size: large;
}
.searchwrap{
    display: flex;
    width: 100%;
    height: 30px;
    border: 1px solid lightgray;
    margin-top: 10px;
    position: relative;
    align-items: center;
}
.search{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    display: inline-block;
    padding-left: 10px;
}
.add{
    display: inline-block;
    border: 1px solid lightgray;
    border-radius: 10px;
    position: absolute;
    right: 0;
    width: 7%;
    height: 60%;
    margin-right: 10px;
}
.tagbox{
    width: 100%;
    height: 100px;
    border: 1px solid lightgray;
    margin-top: 10px;
    border-radius: 5px;
    overflow-x: hidden;
}
.tagwrap{
    width: 100%;
    height: 100%;
}
.tag{
    border: 1px solid lightgray;
    margin-left: 10px;
    border-radius: 20px;
    display: inline-block;
    height: 30px;
    padding: 5px;
    margin-top: 7px;
    padding-left: 15px;
    font-size: small;
}
.delete{
    border: 1px solid lightgray;
    border-radius: 20px;
    margin-left: 8px;
    padding: 2px;
    height: 23px;
    margin-right: 7px;
}
.texthead{
    font-weight: 600;
    font-size: large;
    width: 30%;
}
.purpose{
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 140px;
    margin-left: 40px;
    margin-top: 40px;
}
.selection{
    margin-left: 10px;
    width: 70%;
    margin-top: -10px;
}
.selectbox{
    width: 100%;
    height: 40px;
    border: 1px solid lightgray;
    border-radius: 10px;
}
.footer{
    width: 100%;
    height: 100px;
    display: flex;
    position: relative;
}
.apply{
    margin-right: 100px;
}
.cancel, .apply{
    position: absolute;
    right: 0;
    width: 8%;
    border: 1px solid black;
    border-radius: 20px;
    height: 35px;
    margin-top: 30px;
}