.search_bar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 12px;
  padding: 12px 0;
  margin-bottom: 12px;
  position: relative;
  width: 100%;
}

.search_input {
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
}
.search_input:focus {
  outline: none;
}

.search_bookmark {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
}

.tag {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #c2c2c2;
  border: 1px solid #c2c2c2;
  border-radius: 18px;
  padding: 0 14px;
  margin-right: 8px;
}

/* bookmark */
.search_bookmark {
  max-height: 30vh;
  overflow: scroll;
}

.searchBookmark:hover {
  background-color: #ededed;
  cursor: pointer;
}

.bookmarkName {
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
}
.postNum {
  font-family: Pretendard;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: right;
}

.recently_search_p {
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  margin-right: 18px;
}

.search_img {
  width: 27px;
}
