.header {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 250px;
  height: 40px;
}

.logout_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 32px;

  font-family: Pretendard;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;

  border-radius: 24px;
  color: #000;
  border: 1px solid #000;
  background-color: #fff;
  cursor: pointer;
}
.logout_btn:hover {
  background-color: lightgray;
}
