<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>layout</title>
    <link rel="stylesheet" href="layout.css">
</head>
<body>
    <div class="header" >
        <div class="profile" onclick="">Profile</div>
        <div class="album" onclick="">Album</div>
    </div>
    <div class="mainBox">
        <div class="user">
            <div class="userinfo1">
                <div class="myLevel">?</div>
                <div class="myImg"><img></div>
                <div class="myName">?</div>
            </div>
            <div class="userinfo2">
                <div class="numbering">
                    <div class="box" value="post">
                        <span>?</span>
                        <span>Posts</span>
                    </div>
                    <div class="box" value="follower">
                        <span>?</span>
                        <span>Followers</span>
                    </div>
                    <div class="box" value="following">
                        <span>?</span>
                        <span>Following</span>
                    </div>
                </div>
                <div class="tag">
                    <span>????????</span>
                    <span>????????</span>
                    <span>????????</span>
                    <span>????????</span>
                </div>
                <div class="infotext"></div>
            </div>
        </div>
        <div class="contents">
        <div class="level">
            <div class="levelcheck">
                <span>Your level</span>
                <div class="levelup"></div>
            </div>
            <div class="titlecheck">
                <span>Your title</span>
                <div class="title"></div>
            </div>
            <div class="achievecheck">
                <span>User's Achievement</span>
                <div class="achievement">
                    <div class="achievecontents">??</div>
                    <div class="nonachievecontents">??</div>
                </div>
            </div>
        </div>
        <div class="point">
            <div class="pointcheck">
                <span>Your Point</span>
                <div class="mypoint"></div>
            </div>
            <div class="chargingBox">
                <nav class="option">
                    <a class="select" value="exchange" href="">Exchange</a>
                    <a class="select" value="charge" href="">Charge</a>
                    <a class="select" value="tradelog" href="">Trade log</a>
                </nav>
                <div class="tradeLogcheck">
                    <span>User's Trade log</span>
                    <div class="tradeLog"></div>
                </div>
            </div>
        </div>
        </div>
    </div>
</body>
</html>