.photo {
  border-radius: 32px;
  overflow: hidden;
  display: flex;
  align-items: center;
  margin-right: 12px;
}
.photo_img:hover {
  transform: scale(1.05);
  transition: 0.5s;
  cursor: pointer;
}
