.photo {
  border-radius: 32px;
  overflow: hidden;
  display: flex;
  align-items: center;
  margin-right: 12px;

  /* width가 동일하게 */
  flex-basis: 0;
  flex-grow: 1;
}
.photo_img:hover {
  transform: scale(1.05);
  transition: 0.5s;
  cursor: pointer;
}
