.screen {
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(17, 17, 17, 0.4);
  z-index: 5;
  display: flex;
  justify-content: center;
}

.uploadScreen {
  width: 60%;
  height: 85vh;
  background-color: #fff;
  position: fixed;
  top: 10%;
  border-radius: 20px;
}
.uploadwrap{
  width: 80%;
  height: 80vh;
  text-align: center;
  align-items: center;
  margin-left: 85px;
  margin-top: 50px;
  position: relative;
}
.head{
  font-weight: 600;
  font-size: x-large;
}
.dropzone{
  width: 100%;
  height: 60vh;
  border: 2px solid lightgray;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.innerwrap{
  width: 100%;
  height: 40vh;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
}
.text1{
  font-size: x-large;
  color: black;
  margin-bottom: 30px;
}
.selectbtn{
  width: 17%;
  height: 30px;
  background-color: gray;
  color: white;
  border-radius: 10px;
  margin-top: 90px;
  font-size: smaller;
}
.nextbtn1{
  width: 20%;
  height: 30px;
  border: 1px solid #ff8b00;
  border-radius: 15px;
  position: absolute;
  right: 0;
  color: #ff8b00;
}
