.uploadwrap{
    width: 80%;
    height: 80vh;
    
    align-items: center;
    margin-left: 85px;
    margin-top: 50px;
    position: relative;
  }
  .uploadbox{
    border: 1px solid lightgray;
    height: 450px;
    margin-top: 20px;
    border-radius: 20px;
  }
  .head{
    font-weight: 600;
    font-size: x-large;
    text-align: center;
    width: 100%;
    height: 30px;
  }
  .uploadbox{
    display: flex;
    flex-direction: row;
  }
  .photo{
    border: 1px solid red;
    width: 50%;
    height: 450px;
   
    border-radius: 20px;
  }

 .infowrap{
    margin-top: 5px;
    position: absolute;
    right: 0;
    width: 50%;
    height: 450px;
    
 } 
 .commentwrap{
    width: 100%;
    height: 100px;
   margin-left: 20px;
   display: flex;
   flex-direction: column;
   margin-top: 5px;
   
 }
 .commentbox{
    border: 1px solid lightgray;
    height: 60px;
    margin-top: 5px;
    width: 90%;
    border-radius: 15px;
    padding-left: 10px;
 } 

.bookmarkwrap{
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-left: 20px;
    margin-top: -5px;
}
.texthead{
    font-weight: 600;
    font-size: medium;
}
.searchwrap{
    display: flex;
    width: 90%;
    height: 30px;
    border: 1px solid lightgray;
    margin-top: 5px;
    position: relative;
    align-items: center;
    border-radius: 15px;
    font-size: small;
}
.search{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    display: inline-block;
    padding-left: 10px;
}
.add{
    display: inline-block;
    border: 1px solid lightgray;
    border-radius: 10px;
    position: absolute;
    right: 0;
    width: 7%;
    height: 60%;
    margin-right: 10px;
}
.tagbox{
    width: 90%;
    height: 80px;
    border: 1px solid lightgray;
    margin-top: 8px;
    border-radius: 15px;
    overflow-x: hidden;
}
.tagwrap{
    width: 100%;
    height: 100%;
    
    
}

.tag{
    border: 1px solid lightgray;
    margin-left: 10px;
    border-radius: 20px;
    display: inline-block;
    height: 23px;
    margin-top: 7px;
    padding-left: 15px;
    font-size: small;
}
.delete{
    border: 1px solid lightgray;
    border-radius: 20px;
    margin-left: 8px;
    height: 17px;
    margin-right: 7px;
}
.selectwrap{
    width: 90%;
    height: 170px;
    margin-top: 20px;
    margin-left: 20px;
}
.selecthead{
    position: relative;
}

.answer{
    margin-left: 10px;
    margin-right: 10px;
}
.selectcontent{
    margin-top: 20px;
    font-size: small;
    position: relative;
    
}
.wrapping{
    
    height: 140px;
}
.selectfoot{
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: 30px;
}
.servicebtn{
    border: 1px solid lightgray;
    width: 30%;
    height: 100%;
    border-radius: 20px;
    font-size: small;
}
.checkboxwrap{
    position: absolute;
    right: 0;
    margin-top: -16px;
}
.agreebtn{
    margin-top: 7px;
    font-size: small;
    position: absolute;
    right: 0;
}
.agreetext{
    margin-right: 10px;
}
.inputpoint{
    border: 1px solid lightgray;
    width: 100%;
    height: 30px;
    margin-top: 10px;
    border-radius: 10px;
    padding-left: 10px;
}
.pointfoot{
    width: 65%;
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}
.pointcheck{
    font-weight: 600;
    font-size: medium;
    margin-left: 40px;
}