.screen {
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(17, 17, 17, 0.4);
  z-index: 5;
  display: flex;
  justify-content: center;
}

.uploadScreen {
  width: 60%;
  height: 85vh;
  background-color: #fff;
  position: fixed;
  top: 10%;
  border-radius: 20px;
}
.uploadwrap{
  width: 80%;
  height: 80vh;
  text-align: center;
  align-items: center;
  margin-left: 85px;
  margin-top: 50px;
  position: relative;
}
.head{
  font-weight: 600;
  font-size: x-large;
}
.dropzone{
  width: 100%;
  height: 60vh;
  border: 2px solid lightgray;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.innerwrap{
  width: 100%;
  height: 40vh;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
 
  position: relative;
}
.previewimg{
margin-left: 250px;
}
.text1{
  font-size: x-large;
  color: black;
  
}
.text1,.text2{
  margin-top: 60px;
}
.selectbtn{
  width: 20%;
  height: 30px;
  background-color: gray;
  color: white;
  border-radius: 10px;
  margin-left: -70px;
  font-size: smaller;
  position: absolute;
  bottom: 0;
}
.nextbtn1{
  width: 20%;
  height: 30px;
  border: 1px solid #ff8b00;
  border-radius: 15px;
  position: absolute;
  right: 0;
  color: #ff8b00;
}
.nextbtn1_1{
  width: 20%;
  height: 30px;
  background-color: #ff8b00;
  border-radius: 15px;
  position: absolute;
  right: 0;
  color: white;
}
.nextbtn2{
  width: 15%;
  height: 30px;
  background-color: #ff8b00;
  border-radius: 15px;
  position: absolute;
  right: 0;
  color: white;
  margin-top: -70px;
  margin-right: 100px;
}
.nextbtn3{
  width: 15%;
  height: 30px;
  border: 1px solid #ff8b00;
  border-radius: 15px;
  position: absolute;
  right: 0;
  color: #ff8b00;
  margin-top: -70px;
  margin-right: 100px;
}
.btnwrap{
  position: absolute;
  right: 0;
  margin-top: -70px;
  height: 30px;
  width: 60%;
  margin-right: 25px;

  
}
.cancelbtn, .backbtn, .finishbtn{
  margin-left: 50px;
  
}
.cancelbtn, .backbtn{
  border: 1px solid lightgray;
  border-radius: 15px;
  height: 100%;
  width: 18%;  
}
.finishbtn{
  color: red;
  border: 1px solid red;
  height: 100%;
  width: 23%; 
  border-radius: 15px;
}
.agreebtn{
  width: 30%;
  position: absolute;
  right: 0;
  margin-top: -130px;
  margin-right: 40px;
  font-size: small;
}
.agreetext{
  margin-left: -10px;
  margin-right: 10px;
}