.Onboarding {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.ob_1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 100px;
  height: 20vh;
  width: 90%;
  margin: 0 auto;
  align-items: center;
}
.symbol {
  width: 250px;
  height: 40px;
}

.ob_1 button {
  width: 133px;
  height: 52px;
  padding: 11px 39px 11px 39px;

  border-radius: 8px;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
}
.ob_2 {
  height: 80vh;
  width: 100vw;
  text-align: center;
  background-color: grey;
  background-image: url('./onboarding.JPG');
  /*background-size: 1920px;*/
  background-repeat: no-repeat;
}
.viewport {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contents {
  width: 90vw;
}
