
.tradeLogcheck{
    margin-top: 20px;
}
table{
    border-collapse: collapse;
    border-top: 2px solid gray;
    align-items: center;
    border-left: none;
    border-right: none;
    justify-content: space-between;
    width: 100%;
}
th{
    border-bottom: 2px solid gray;
}
td{
    border-bottom: 2px solid #ededed;
    text-align: center;
}

td,th{
    width: 30%;
    height: 58px;
    border-left: none;
    border-right: none;
    justify-content: space-between;
    padding-top: 20px;
}
.pagenum{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.pagenum button{
    width: 5%;
    height: 20px;
    display: inline-block;
    margin-right: 30px;
    border: 1px solid black;
    border-radius: 50px;
    text-align: center;
}