.headframe{
  width: 100%;
  height: 70px;
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}
.smallimg, .nickname, .icon{
  display: inline-block;
  height: 100%;
  font-size: large;
  font-weight: 500;
  margin-right: 20px;
  padding-top: 25px;
}
.nickname, .icon{
  width: 10%;
}
.smallimg{
  width: 7%;
  border-radius: 50%;
  margin-left: 10px;
  border: 1px solid black;
}
.contentsframe {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: space-between;
}
.content {
  width: 30%;
  height: auto;
  border: 1px solid black;
  border-radius: 32px;
  display: inline-block;
}
